@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.cartItem{
    @include flex-box(row,flex-start,flex-start);
    width:100%;

    &__container{
        @include flex-box(row,space-between,flex-start);

        border:2px solid $mercury;
        margin: .5rem;
        padding: .5rem;
        border-radius: 5px;
    }
    &__container-imgbox{
        @include flex-box(row,center,center);
        max-width: 40%;
        max-height: 100%;
    }
    &__container-imgbox-img{
        object-fit: cover;
        width: 90%;
    }
    &__details{
        @include flex-box(column,flex-start,flex-end);
        //background-color: aqua;
    }
    &__details--quantity{
        font-weight:500;
        color: rgb(8, 95, 8);
    }
    &__details--price{
        color:rgb(173, 32, 13);
        font-weight: 500;
    }
}