@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header{
    @include flex-box(column,flex-start,center);
    width:100%;
    background-color:$pluton-blue ;
    &__logoBox{
        padding:0rem;
    }
    &__tabSection{
        width:100%;
        //padding-right: 1rem;
        @include flex-box(row,space-evenly,center);
    }
    &__menuItems{
        color: $mercury;
        padding:.5rem;
    }
    &__link{
        text-decoration: none;
        color: $pluton-white;
    }
    &__cartIcon{
        position:relative;
        padding:.5rem;
    }
    &__cartCount{

        position:absolute;
        //padding:5px;
        // width:10px;
        // height:10px;
        // border-radius: 50%;
        right:1px;
        top:1px;
        font-weight: 500;
        color: #ff0000;
        //background-color: red;
    }
}
